@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Je moet me niet bellen.</title>
    @* <link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/css/StyleSheetMain.css" />
    

</head>
<body>
    <div class="text-center">
        <h3 class="animate-charcter"> VERZAMELWOEDE </h3>
    </div>
    <div class="text-center">
        <h1 class="Welcome">Welkom op mijn website, waarbij je overzicht hebt op je verzameling.</h1>
    </div>

</body>


